@import url('https://fonts.googleapis.com/css?family=Parisienne|Roboto|Playfair+Display|Roboto+Condensed&display=swap');

* {
  border: 10;
  margin: 10;
  padding: 10;
  box-sizing: border-box;
  border-color: #444;
  border-style: dotted;

}

body {
  height: 100vh;
}

#app {
  height: 100%;
}

.app {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: auto auto 1fr;
  grid-gap: 8px;

  
  height: 100%;
  width: 100%;

  overflow: hidden;

  background: #444;
}

#title {
  grid-row: 1;
  background-color: steelblue;
  grid-column: 1 / -1;
  padding: 8px;
  text-align: center;
  color: white;
}

input {
  border-color: #444;
  border: 2px solid #0099CC;
  border-style: dotted;
}

.btn:hover {
  border: 2px solid #0099CC;
  background: blue;
  text-decoration: none;
}